* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 24;

}

h1, h2, h3 {
    color: black;
}

p {
    color: gray;
    font-size: 12px;
}
        /** Header **/

header {
    height: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid green;
    justify-content: space-between;
        
       
}


.title {
    font-size: 32px;
    display: flex;
    flex-direction: row;
    border: 3px solid red;
}

.colmar-title {
    color: black;
}

.academy-title {
    color: gray;
}

nav {
    font-size: 16px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row; 
    border: 3px solid red; 
}



        /** Learn something section **/
.learn {
    width: 60%;
    padding: 32px 24px;
    background-color: gray;
    border: 3px solid red
}



/** Practicing section **/

.practicing {
    width: 60%;
    padding: 32px 24px;
    display: flex;
    border: 3px solid red;
    

}

.practicing2 {
    
    border: 3px solid red;
    width: 40%;

}