* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 24;

}

h1, h2, h3 {
    color: black;
}

p {
    color: gray;
    font-size: 12px;
}
        /** Header **/

.header {
    height: 64px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}


.title {
    font-size: 32px;
    display: flex;
    flex-direction: row;
}

.colmar {
    color: black;
}

.academy {
    color: gray;
}

nav {
    font-size: 16px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    
    
    
}



        /** Learn something section **/
.container {
    height: 24px;
    width: auto;
    padding: 32px 24px;
}


.test {
    display: flex;
    align-content: space-around;


}

/** Practicing section **/

.practicing {
    width: 60%;
}

.practicing2 {

}